# Keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme

# OpenLDAP
LDAP_PORT=389
LDAP_ORGANISATION=IAM Lab
LDAP_DOMAIN=iam-lab.local
LDAP_ADMIN_PASSWORD=changeme
LDAP_READONLY_USER=true
LDAP_READONLY_USER_USERNAME=readonly
LDAP_READONLY_USER_PASSWORD=changeme

# phpLDAPadmin
PHPLDAPADMIN_PORT=8090

# Keycloak Admin API (used by Python script)
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=iam-lab-realm

# LDAP connection details (as seen from inside the Docker network)
# LDAP_HOST must match the service name in docker-compose.yml
LDAP_HOST=openldap
LDAP_BIND_DN=cn=admin,dc=iam-lab,dc=local
LDAP_BIND_CREDENTIAL=changeme
LDAP_USERS_DN=ou=users,dc=iam-lab,dc=local
